/*table sort background*/
table.j-custom th.sort{border: 2px solid green}
table.j-custom th.current{background:#e2eff8;}
.randomtoolleft {
position: fixed;
top: 80px;
left: 30px;
z-index: 10000;
}

.delbutton{
	text-align: end;
	padding-top: 10px;
	padding-bottom: 10px;	
}

.ttmarket{
	padding-top: 10px;
	padding-bottom: 10px;
}

.randomDel{
	background-color: rgb(197, 193, 130);
}

.randomSam{
	background-color: rgb(187, 183, 130);
}