/** {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
*/
body {
	padding-right:25px !important;
}

#trading_intro_list, body>.con980, #main, body>.layout {
	float: right;
}

/*隐藏客服div*/
body>.shumi-kefu, body>.shumi-baiba {
	display: none;
}

#grf_main {
	z-index: 10000;
  position: fixed;
  top: 40px;
  left: 10px;
	width: 360px;
}

.scrollPan {
	overflow-x: hidden;
	overflow-y: scroll;
	padding-right: 5px;
	/*padding-bottom: 15px;*/
}

.hight_light {
	background-color: khaki !important;
}
.nodt {
	background-color: gray !important;
}
.doneToday {
	background-color: lightskyblue !important;
}

.tbsort {
	color: #B9B973 !important;
	cursor:pointer;
}

.ttLink {
	color: lightskyblue !important;
	cursor:pointer;
}
