<div id="grf_main">
		<!-- Button trigger modal -->
<!-- 		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
		  Launch demo modal
		</button> -->

		<!-- Modal -->
	<div class="modal fade" id="settingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        ...
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="container-fluid">

		<div class="panel panel-default">
		  <div class="panel-body">
			  <div class="collapse navbar-collapse">
					<ul class="nav nav-pills">
					  <!-- <li role="presentation"><a href="http://my.fund123.cn/" target="_self">仓库</a></li> -->
					  <li role="presentation"><a href="http://my.fund123.cn/RealFundDefault.aspx#/" target="_self">仓库</a></li>
					  <li role="presentation" class="active"><a href="#">计划</a></li>
					  <li role="presentation"><a href="#" data-toggle="modal" data-target="#settingModal">设置</a></li>
					  <li role="presentation"><a href="#" ng-click="kefu()">客服</a></li>
					</ul>
			  </div>
			  <div>
			    今天已暂停:
			    <span style="color:darkgoldenrod;font-size:15px;">{{today_zanting.zantingAmount}}</span>元 /
			    计划<span style="color:darkgreen;font-size:15px;">{{setting.exchangeDaily}}</span>元
			    <br>
			    定投金额/月:
			    <span style="color:darkgoldenrod;font-size:15px;">{{buyAmountNow}}</span>元 /
			    计划<span style="color:darkgreen;font-size:15px;">{{setting.buyMonthlyAmount}}</span>元
			  </div>
		  </div>
		</div>

		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingOne">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          工具
		        </a>
		      </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		      <div class="panel-body">
						<div class="btn-group btn-group" role="group" aria-label="...">
							 	<button type="button" class="btn btn-default" ng-click="dingTouPause()">随机暂停</button>
								<button type="button" class="btn btn-default" ng-click="BOTdingTouPause(1000)">B暂停1000</button>
								<button type="button" class="btn btn-default" ng-click="BOTdingTouPause(1500)">B暂停1500</button>
								<button type="button" class="btn btn-default" ng-click="BOTdingTouPause(3000)">B暂停3000</button>
								<button type="button" class="btn btn-default" ng-click="BOTdingTouPause(5000)">B暂停5000</button>
								<button type="button" class="btn btn-default" ng-click="BOTdingTouPause(10000)">B暂停10000</button>
								<button type="button" class="btn btn-default" ng-click="BOTdingTouPause(20000)">B暂停20000</button>
						</div>
						<div class="btn-group btn-group" role="group" aria-label="...">
							  <button type="button" class="btn btn-default" ng-click="dingTouGo()">随机开启</button>
							 	<button type="button" class="btn btn-default" ng-click="BOTdingTouGo(1000)">B开启1000</button>
							 	<button type="button" class="btn btn-default" ng-click="BOTdingTouGo(1500)">B开启1500</button>
							 	<button type="button" class="btn btn-default" ng-click="BOTdingTouGo(3000)">B开启3000</button>
							 	<button type="button" class="btn btn-default" ng-click="BOTdingTouGo(5000)">B开启5000</button>
							 	<button type="button" class="btn btn-default" ng-click="BOTdingTouGo(8000)">B开启8000</button>
							 	<button type="button" class="btn btn-default" ng-click="BOTdingTouGo(15000)">B开启15000</button>
							 	<button type="button" class="btn btn-default" ng-click="BOTdingTouGo(30000)">B开启30000</button>
						</div>
						<div class="btn-group btn-group" role="group" aria-label="...">
							  <button type="button" class="btn btn-default" ng-click="resetRanking()">重置</button>
						</div>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingTwo">
		      <h4 class="panel-title">
		        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		          数米基金
		        </a>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse scrollPan" role="tabpanel" aria-labelledby="headingTwo">
		      <div class="panel-body">
		      	<div class="checkbox">
			        <label>
			          <input type="checkbox" name="shumiShowX" ng-model="shumiShowX"> 显示不可定投项 
			          <button type="button" tag="shumiTb" class="ranBt">来一桶</button>
			          <button type="button" tag="shumiTb" class="ranBOT">随便BOT</button>
			        </label>
			      </div>
		      </div>
		      <table class="table table-striped table-hover table-condensed">
						<thead>
							<tr>
			          <th>#</th>
			          <th>代码</th>
			          <th>名称</th>
			          <th>涨幅</th>
			          <th>操作</th>
			        </tr>
						</thead>
					  <tbody id="shumiTb">
					  	<tr ng-show="value.dtOk || shumiShowX" ng-class="{'nodt':!value.dtOk, 'doneToday':value.doneToday}" ng-repeat="(key, value) in today_dt.ranking.shumi.day">
					  		<td>日 {{value.sort}}</td>
					  		<td><a target='_blank' href='http://fund.eastmoney.com/{{value.fundcode}}.html'>{{value.fundcode}}</a></td>
					  		<td><a target='_blank' href='http://fund.fund123.cn/html/{{value.fundcode}}/Index.html'>{{value.fundname}}</a></td>
					  		<td>{{value.rate}}</td>
					  		<td><button ng-click='toDt(value.fundcode, "shumi", "day", key)'>定投</button></td>
					  	</tr>

<!-- 					  	<tr ng-show="value.dtOk || shumiShowX" ng-class="{'nodt':!value.dtOk, 'doneToday':value.doneToday}" ng-repeat="(key, value) in today_dt.ranking.shumi.month">
					  		<td>月 {{value.sort}}</td>
					  		<td><a target='_blank' href='http://fund.eastmoney.com/{{value.fundcode}}.html'>{{value.fundcode}}</a></td>
					  		<td><a target='_blank' href='http://fund.fund123.cn/html/{{value.fundcode}}/Index.html'>{{value.fundname}}</a></td>
					  		<td>{{value.rate}}</td>
					  		<td><button ng-click='toDt(value.fundcode, "shumi", "month", key)'>定投</button></td>
					  	</tr> -->
					  </tbody>
					</table>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingThree">
		      <h4 class="panel-title">
		        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		          天天基金
		        </a>
		      </h4>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse scrollPan" role="tabpanel" aria-labelledby="headingThree">
		      <div class="panel-body">
		      	<div class="checkbox">
			        <label>
			          <input type="checkbox" name="ttShowX" ng-model="ttShowX"> 显示不可定投项 
			          <button type="button" tag="ttTb" class="ranBt">来一桶</button>
			          <button type="button" tag="ttTb" class="ranBOT">随便BOT</button>
			        </label>
			      </div>
		      </div>
		      <table class="table table-striped table-hover table-condensed">
						<thead>
							<tr>
			          <th>#</th>
			          <th>代码</th>
			          <th>名称</th>
			          <th>涨幅</th>
			          <th>操作</th>
			        </tr>
						</thead>
					  <tbody id="ttTb">
					  	<tr ng-show="value.dtOk || ttShowX" ng-class="{'nodt':!value.dtOk, 'doneToday':value.doneToday}" ng-repeat="(key, value) in today_dt.ranking.tt.day">
					  		<td>日 {{value.sort}}</td>
					  		<td><a target='_blank' href='http://fund.eastmoney.com/{{value.fundcode}}.html'>{{value.fundcode}}</a></td>
					  		<td><a target='_blank' href='http://fund.fund123.cn/html/{{value.fundcode}}/Index.html'>{{value.fundname}}</a></td>
					  		<td>{{value.rate}}</td>
					  		<td><button ng-click='toDt(value.fundcode, "tt", "day", key)'>定投</button></td>
					  	</tr>

					  	<tr ng-show="value.dtOk || ttShowX" ng-class="{'nodt':!value.dtOk, 'doneToday':value.doneToday}" ng-repeat="(key, value) in today_dt.ranking.tt.week">
					  		<td>周 {{value.sort}}</td>
					  		<td><a target='_blank' href='http://fund.eastmoney.com/{{value.fundcode}}.html'>{{value.fundcode}}</a></td>
					  		<td><a target='_blank' href='http://fund.fund123.cn/html/{{value.fundcode}}/Index.html'>{{value.fundname}}</a></td>
					  		<td>{{value.rate}}</td>
					  		<td><button ng-click='toDt(value.fundcode, "tt", "week", key)'>定投</button></td>
					  	</tr>

<!-- 					  	<tr ng-show="value.dtOk || ttShowX" ng-class="{'nodt':!value.dtOk, 'doneToday':value.doneToday}" ng-repeat="(key, value) in today_dt.ranking.tt.month">
					  		<td>月 {{value.sort}}</td>
					  		<td><a target='_blank' href='http://fund.eastmoney.com/{{value.fundcode}}.html'>{{value.fundcode}}</a></td>
					  		<td><a target='_blank' href='http://fund.fund123.cn/html/{{value.fundcode}}/Index.html'>{{value.fundname}}</a></td>
					  		<td>{{value.rate}}</td>
					  		<td><button ng-click='toDt(value.fundcode, "tt", "month", key)'>定投</button></td>
					  	</tr> -->
					  </tbody>
					</table>
		    </div>
		  </div>
		</div>

	</div>

</div>