<div id="grf_main">
		<!-- Button trigger modal -->
<!-- 		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
		  Launch demo modal
		</button> -->

		<!-- Modal -->
	<div class="modal fade" id="settingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        ...
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="container-fluid">

		<div class="panel panel-default">
		  <div class="panel-body">
			  <div class="collapse navbar-collapse">
					<ul class="nav nav-pills">
					  <li role="presentation"><a href="http://my.fund123.cn/" target="_self">仓库</a></li>
					  <li role="presentation" class="active"><a href="#">计划</a></li>
					  <li role="presentation"><a href="#" data-toggle="modal" data-target="#settingModal">设置</a></li>
					  <li role="presentation"><a href="#" ng-click="kefu()">客服</a></li>
					</ul>
			  </div>
			  <div>
			    今天已暂停:
			    <span style="color:darkgoldenrod;font-size:15px;">{{today_zanting.zantingAmount}}</span>元 /
			    计划<span style="color:darkgreen;font-size:15px;">{{setting.exchangeDaily}}</span>元
			    <br>
			    定投金额/月:
			    <span style="color:darkgoldenrod;font-size:15px;">{{buyAmountNow}}</span>元 /
			    计划<span style="color:darkgreen;font-size:15px;">{{setting.buyMonthlyAmount}}</span>元
			  </div>
		  </div>
		</div>

		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingOne">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          工具
		        </a>
		      </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		      <div class="panel-body">
						<div class="btn-group btn-group" role="group" aria-label="...">
							 	<button type="button" class="btn btn-default" ng-click="dingTouPause()">暂停</button>
							  <button type="button" class="btn btn-default" ng-click="randomRedeem(5000)">5000</button>
							  <button type="button" class="btn btn-default" ng-click="test()">kefu</button>
						</div>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingTwo">
		      <h4 class="panel-title">
		        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		          黄沙漫天
		        </a>
		      </h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse scrollPan" role="tabpanel" aria-labelledby="headingTwo">
		      <div class="panel-body">
		      </div>

		      <!-- <div style="overflow:scroll; height:100px; width: 100px;"> -->
		      <table class="table table-striped table-hover table-condensed">
						<thead>
							<tr>
			          <th>#</th>
			          <th>代码</th>
			          <th>名称</th>
			          <th>涨幅</th>
			          <th>操作</th>
			        </tr>
						</thead>
					  <tbody>
					  	<tr ng-repeat="(key, value) in today_dt.ranking.shumi.day">
					  		<td>{{value.sort}}</td>
					  		<td>{{value.fundcode}}</td>
					  		<td>{{value.fundname}}</td>
					  		<td>{{value.rate}}</td>
					  		<td><button>定投</button></td>
					  	</tr>
					  </tbody>
					</table>
					<!-- </div> -->

		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingThree">
		      <h4 class="panel-title">
		        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		          韩玉青蓝
		        </a>
		      </h4>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
		      <div class="panel-body">
		        XXXX
		      </div>
		    </div>
		  </div>
		</div>

	</div>

</div>