* {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

body {
	padding-right:25px !important;
}

#form1>.con980, #form1>#ManagerAreaUC, #form1>#myfund, body>.layout {
	float: right;
}

#grf_main {
	z-index: 10000;
  position: fixed;
  top: 40px;
  left: 10px;
	width: 300px;
	/*background-color: red;*/
}

.hight_light {
	background-color: khaki !important;
}
.today_is_redeemed {
	background-color: gray !important;
}