* {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

body {
	padding-right:25px !important;
}

#trading_intro_list, body>.con980, #main, body>.layout {
	float: right;
}

/*隐藏客服div*/
body>.shumi-kefu, body>.shumi-baiba {
	display: none;
}

#grf_main {
	z-index: 10000;
  position: fixed;
  top: 40px;
  left: 10px;
	width: 360px;
}

.scrollPan {
	/*overflow:	scroll;*/
	overflow-x: hidden;
	overflow-y: scroll;
	height:	260px;
	padding-right: 5px;
}

.hight_light {
	background-color: khaki !important;
}
.today_is_dted {
	background-color: gray !important;
}
.today_need_dt {
	background-color: gray !important;
}
