body {
	padding-right:25px !important;
	background-color: red;
}

body>.con980,body>.tradenav,body>.layout,#main {
	float: right;
}

.girMain {
	z-index: 10000;
  position: fixed;
  top: 40px;
  left: 10px;
	width: 300px;
	/*background-color: red;*/
}

