* {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

body {
	padding-right:25px !important;
}

#trading_intro_list, body>.con980, #main, body>.layout {
	float: right;
}

body>.shumi-kefu, body>.shumi-baiba {
	display: none;
}

#grf_main {
	z-index: 10000;
  	position: fixed;
  	top: 40px;
  	left: 10px;
	width: 300px;
	/*background-color: red;*/
}

.hight_light {
	background-color: green !important;
}
.hight_light_done {
	background-color: green !important;
}